## Acquire and Prepare - Wrangle

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import env
import wrangle

In [2]:
url = env.get_db_url(db='zillow')
url

'mysql+pymysql://ursula_2340:9CEmU2uxNTVsM0p5iDh2jYLpFovq2wbN@data.codeup.com/zillow'

In [69]:
def get_zillow_data(): 
    '''
    got the data from the Mysql database,
    ran a query to get specific columns that are 'Single Family Residential'(261) properties
    '''
    
    url = env.get_db_url(db='zillow')
    query = '''
        select bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips
            from properties_2017
                where propertylandusetypeid = '261' 
                            
    '''

    df = pd.read_sql(query, url)

    return df

In [68]:
df = get_zillow_data()
df

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
...,...,...,...,...,...,...,...
2152858,4.0,3.0,2262.0,960756.0,2015.0,13494.52,6059.0
2152859,4.0,4.5,3127.0,536061.0,2014.0,6244.16,6059.0
2152860,0.0,0.0,NaN,208057.0,NaN,5783.88,6059.0
2152861,3.0,2.5,1974.0,424353.0,2015.0,5302.70,6059.0
2152862,4.0,4.0,2110.0,554009.0,2014.0,6761.20,6037.0

In [46]:
# #statistical summary
df.describe().T

,count,mean,std,min,25%,50%,75%,max
bedroomcnt,2152852.0,3.287196,0.954754,0.00,3.00,3.00,4.00,25.00
bathroomcnt,2152852.0,2.230688,0.999280,0.00,2.00,2.00,3.00,32.00
calculatedfinishedsquarefeet,2144379.0,1862.855178,1222.125124,1.00,1257.00,1623.00,2208.00,952576.00
taxvaluedollarcnt,2152370.0,461896.237963,699676.049600,1.00,188170.25,327671.00,534527.00,98428909.00
yearbuilt,2143526.0,1960.949681,22.162196,1801.00,1949.00,1958.00,1976.00,2016.00
taxamount,2148421.0,5634.865978,8178.910249,1.85,2534.98,4108.95,6414.32,1337755.86
fips,2152863.0,6048.377335,20.433292,6037.00,6037.00,6037.00,6059.00,6111.00

In [47]:
# how many rows and columns
df.shape

(2152863, 7)

In [48]:
df.dropna().value_counts().sum()

2140235

In [49]:
# what data types do we have
df.dtypes

bedroomcnt                      float64
bathroomcnt                     float64
calculatedfinishedsquarefeet    float64
taxvaluedollarcnt               float64
yearbuilt                       float64
taxamount                       float64
fips                            float64
dtype: object

In [50]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0

In [51]:
df.tail(2945)

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
2149918,4.0,2.0,1707.0,357259.0,1954.0,6798.56,6059.0
2149919,4.0,2.0,1343.0,262785.0,1954.0,3163.42,6059.0
2149920,4.0,2.0,1771.0,59202.0,1955.0,920.76,6059.0
2149921,3.0,2.0,1072.0,378790.0,1955.0,4518.42,6059.0
2149922,3.0,2.0,1439.0,201011.0,1955.0,2482.92,6059.0
...,...,...,...,...,...,...,...
2152858,4.0,3.0,2262.0,960756.0,2015.0,13494.52,6059.0
2152859,4.0,4.5,3127.0,536061.0,2014.0,6244.16,6059.0
2152860,0.0,0.0,NaN,208057.0,NaN,5783.88,6059.0
2152861,3.0,2.5,1974.0,424353.0,2015.0,5302.70,6059.0
2152862,4.0,4.0,2110.0,554009.0,2014.0,6761.20,6037.0

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 115.0 MB

# Takeaways

- all my columns are a float type. 

- goal is to predict the values of single unit properties using the observations from 2017.

- each row represents a unit

In [53]:
df.bedroomcnt.value_counts()

bedroomcnt
3.0     964298
4.0     634289
2.0     335473
5.0     150866
6.0      25166
1.0      23166
0.0      13187
7.0       4807
8.0       1107
9.0        291
10.0       121
11.0        34
13.0        16
12.0        12
14.0         7
15.0         6
18.0         3
16.0         2
25.0         1
Name: count, dtype: int64

In [54]:
df.bedroomcnt.value_counts().sum()

2152852

In [55]:
df.bedroomcnt.isnull().sum()

11

## bedroomcnt

- has 2945 null values 

- what should we do with this?

In [56]:
df.isnull().any()

bedroomcnt                       True
bathroomcnt                      True
calculatedfinishedsquarefeet     True
taxvaluedollarcnt                True
yearbuilt                        True
taxamount                        True
fips                            False
dtype: bool

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 115.0 MB

In [58]:
df.bathroomcnt.value_counts().sum()

2152852

In [59]:
df.bathroomcnt.isnull().sum()

11

## bathroomcnt

- has 11 null values

In [60]:
df.calculatedfinishedsquarefeet.isnull().sum()

8484

## calculatedfinishedsquarefeet

- has 8484 null values

In [61]:
df.taxvaluedollarcnt.isnull().sum()

493

## taxvaluedollarcnt

- has 493 null values

In [62]:
df.yearbuilt.isnull().sum()

9337

## yearbuilt

- has 9337 null values

In [63]:
df.taxamount.isnull().sum()

4442

## taxamount

- has 4442 null values

In [64]:
df.fips.isnull().sum()

0

## fips

-has 0 null values

## Takeaways 

- every column has a dtype of a float. 

- every column has null values. 

- what should we do with the null values?

- maybe we should drop the nan rows since it is misiing information for a single unit.

In [65]:
def wrangle_zillow(df):
    df = df.dropna()
    
    return df

In [66]:
df1 = wrangle_zillow(df)
df1

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
6,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037.0
7,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037.0
11,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037.0
14,0.0,0.0,171.0,6920.0,1973.0,255.17,6037.0
...,...,...,...,...,...,...,...
2152856,4.0,4.0,4375.0,422400.0,2015.0,13877.56,6037.0
2152858,4.0,3.0,2262.0,960756.0,2015.0,13494.52,6059.0
2152859,4.0,4.5,3127.0,536061.0,2014.0,6244.16,6059.0
2152861,3.0,2.5,1974.0,424353.0,2015.0,5302.70,6059.0
2152862,4.0,4.0,2110.0,554009.0,2014.0,6761.20,6037.0

In [67]:
df1.isnull().sum()

bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
taxvaluedollarcnt               0
yearbuilt                       0
taxamount                       0
fips                            0
dtype: int64

In [2]:
df = wrangle.wrangle_zillow()
df

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
6,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037.0
7,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037.0
11,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037.0
14,0.0,0.0,171.0,6920.0,1973.0,255.17,6037.0
...,...,...,...,...,...,...,...
2152856,4.0,4.0,4375.0,422400.0,2015.0,13877.56,6037.0
2152858,4.0,3.0,2262.0,960756.0,2015.0,13494.52,6059.0
2152859,4.0,4.5,3127.0,536061.0,2014.0,6244.16,6059.0
2152861,3.0,2.5,1974.0,424353.0,2015.0,5302.70,6059.0
2152862,4.0,4.0,2110.0,554009.0,2014.0,6761.20,6037.0

In [3]:
wrangle.splitting_data(df, 'fips')

(         bedroomcnt  bathroomcnt  calculatedfinishedsquarefeet  \
 744753          3.0          3.0                        1794.0
 1923384         3.0          1.0                        1300.0
 20005           3.0          2.0                        1552.0
 1327496         2.0          2.0                        1027.0
 1186713         3.0          2.0                        1239.0
 ...             ...          ...                           ...
 1748958         3.0          2.0                        2328.0
 1835927         3.0          1.0                        1080.0
 1543277         2.0          1.0                        1060.0
 741350          3.0          4.0                        4442.0
 501089          3.0          2.0                        2107.0

          taxvaluedollarcnt  yearbuilt  taxamount    fips
 744753            488000.0     1953.0    5906.52  6037.0
 1923384           180270.0     1947.0    2374.16  6037.0
 20005              60354.0     1958.0     388.18  6059.0
 1327496           485478.0     1947.0    5502.35  6037.0
 1186713           101582.0     1987.0    1984.56  6037.0
 ...                    ...        ...        ...     ...
 1748958           272595.0     1926.0    3774.52  6037.0
 1835927           146261.0     1965.0    1868.95  6037.0
 1543277           329956.0     1921.0    4094.25  6037.0
 741350            878248.0     2001.0    9457.98  6059.0
 501089           1282000.0     1913.0   15130.72  6037.0

 [1284141 rows x 7 columns],
          bedroomcnt  bathroomcnt  calculatedfinishedsquarefeet  \
 1835614         2.0          2.0                         804.0
 360355          3.0          2.0                        1287.0
 1686752         3.0          2.0                        1840.0
 44708           3.0          2.0                        1297.0
 1416013         3.0          2.0                        1818.0
 ...             ...          ...                           ...
 1609920         3.0          1.0                        1304.0
 1599051         4.0          2.0                        1634.0
 1355128         3.0          2.5                        2686.0
 173126          3.0          2.5                        1688.0
 167616          4.0          3.0                        2645.0

          taxvaluedollarcnt  yearbuilt  taxamount    fips
 1835614           243766.0     1930.0    3053.68  6037.0
 360355            400433.0     1953.0    4980.29  6037.0
 1686752           197456.0     1969.0    2593.80  6037.0
 44708             124513.0     1963.0    1632.03  6037.0
 1416013           564365.0     1944.0    6729.41  6037.0
 ...                    ...        ...        ...     ...
 1609920           355337.0     1937.0    4364.61  6037.0
 1599051           293705.0     1956.0    3592.22  6037.0
 1355128           878324.0     1963.0    9349.22  6059.0
 173126            347810.0     1983.0    3656.38  6111.0
 167616            885161.0     1965.0   10106.35  6037.0

 [428047 rows x 7 columns],
          bedroomcnt  bathroomcnt  calculatedfinishedsquarefeet  \
 1087509         3.0          2.5                        1587.0
 631684          2.0          1.0                         817.0
 468838          4.0          3.0                        2928.0
 236146          3.0          3.0                        1427.0
 1583437         4.0          2.5                        2037.0
 ...             ...          ...                           ...
 1366218         4.0          3.0                        3260.0
 489125          3.0          3.0                        2126.0
 432474          5.0          3.0                        1972.0
 157979          3.0          2.0                        1293.0
 1543848         2.0          1.0                         550.0

          taxvaluedollarcnt  yearbuilt  taxamount    fips
 1087509           318591.0     1967.0    3768.66  6059.0
 631684             32878.0     1951.0     744.13  6037.0
 468838            770451.0     1956.0    9206.31  6037.0
 236146            394464.0     1997.0    5573.58  6059.0
 1583437           514912.0     1972.0    5898.90  6111.0
 ...                    ...        ...        ...     ...
 1366218          1258684.0     1995.0   14388.00  6059.0
 489125            523637.0     1921.0    6195.57  6037.0
 432474            414451.0     1963.0    5183.96  6037.0
 157979            260458.0     1952.0    3108.09  6037.0
 1543848            20865.0     1914.0     320.77  6037.0

 [428047 rows x 7 columns])